body {
    font-weight: 100;
    position: relative;
    background-color: #20212b;
}

* {
    margin: 0rem;
    padding: 0rem;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.everythingCont {
    background-image: url(./assets/backgroundtexture2.png);
}

.header {
    font-family: "poppins";
    padding: 0.5rem;
    margin-block: 0rem;
    color: azure;
    font-size: 1.5rem;
}
